.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.destinations {
  width: 312px;
  margin: 0 auto;
}

.button {
    min-width: 280px;
    text-align: center;
}

.destinations .button {
    width: 100%;
}

.item-tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.img-item .item-osaka {
  background: url(../img/osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1024px) {
    .destinations {
        width: 900px;
    }

    .destinations .button {
    width: 280px;
    }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }
}