@font-face {
  font-family: "Monserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
  font-size: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary-color: #8e0101;
  ---color: #b71414;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}
/*
    Menu: 500 fontweight
    footer:400 fontweight
    cards: 400 e 700
    texto: 400
    titulos: 700
    botao:700
    depoimentos:400 e 700
*/

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Monserrat";
  font-weight: var(--title-weight);
  color: var(--button-primary-color);
}

body {
  font-family: "Monserrat";
}
