.hero-img {
  width: 100%;
  height: 400px;
  background-image: url("/img/banner-homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    width: 100%;
    height: 620px;
    background-image: url("/img/banner-homepage-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    width: 100%;
    height: 620px;
    background-image: url("/img/banner-homepage-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}